*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(80, 61, 10);
}
.container2{
     display: flex;
     justify-content: space-between;
}
.high{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;

}
.time{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}
.box{
    display: flex;
    justify-content: center;
}
.starter{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: #fce1ac;
}
h1{
    color: #fce1ac;
}
button{
    background-color: #fce1ac;
    color: black;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}
input{
    border-style: none;
    border-radius: 10px;
    height: 30px;
    width: 150px;
}
.hide{
    display: none;
}
